.returnButtonWrapper {
  display: flex;
  background: none;
  border: none;
  color: var(--primaryTextColor);
  padding: 15px;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.returnButtonWrapper:hover {
  color: var(--secondaryBrandColor);
}

.returnButtonLink {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  gap: 5px;
}
