@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrapper {
  animation: slideIn 500ms linear 0s 1 normal none;
  width: 50%;
  margin: auto;
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
}

.title {
  font-size: 3.5rem;
  text-align: center;
  padding: 15px 0 10px 0;
}

.date {
  font-size: 1.2rem;
  text-align: center;
}

.return {
  color: var(--tertiaryColor);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  width: fit-content;
  padding: 5px 0 5px 0;
}

.heading1 {
  font-size: 3rem;
  padding: 10px 0 10px 0;
}

.heading2 {
  font-size: 2rem;
  padding: 10px 0 10px 0;
}

.heading3 {
  font-size: 1.75rem;
  padding: 10px 0 10px 0;
}

.heading4 {
  font-size: 1.5rem;
  padding: 10px 0 10px 0;
}

.heading5 {
  font-size: 1.25rem;
  padding: 10px 0 10px 0;
}

.heading6 {
  font-size: 1rem;
  padding: 10px 0 10px 0;
}

.paragraph {
  font-size: 1.2rem;
  padding: 15px 0 15px 0;
  text-align: justify;
}

.link {
  color: var(--primaryBrandColor);
}

.link:hover {
  color: var(--secondaryBrandColor);
}
