.heroIconsListElement:nth-child(1) {
  padding: 0 10px 0 0px;
}

.heroIconsListElement:nth-child(n + 2) {
  padding: 0 10px;
}

.heroIconsListElementButton {
  border: none;
  background: none;
  padding: 0;
}
