.aboutContentWrapper {
  width: 70%;
  margin: auto;
}

@media (max-width: 768px) {
  .aboutContentWrapper {
    width: 90%;
  }
}

.aboutContentParagraph {
  font-size: 1.25rem;
  padding: 20px 0;
  text-align: justify;
}

.aboutContentReturn {
  color: var(--tertiaryColor);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  width: fit-content;
}

.aboutSpan {
  color: var(--primaryBrandColor);
}

.aboutSpan > a:hover {
  color: var(--secondaryBrandColor);
}
