@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  width: 75%;
  margin: auto;
  animation: slideIn 500ms linear 0s 1 normal none;
}

@media (max-width: 768px) {
  .main {
    width: 90%;
  }
}

.main > p {
  font-size: 1.25rem;
  padding: 20px 0;
  text-align: justify;
}

.main > h1 {
  font-size: 3rem;
  text-align: center;
  padding: 20px 0;
}

.mainReturn > p {
  color: var(--tertiaryColor);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  width: fit-content;
  padding: 20px 0;
}
