.postListWrapper {
  margin: 100px 0 50px 0;
}

.postListHeading {
  color: var(--primaryColor);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.postListElement {
  padding: 25px 0;
  width: 70%;
}

.postListElementDate {
  font-size: 0.9rem;
  letter-spacing: 0.75px;
  padding: 5px 0;
  color: var(--tertiaryColor);
}

.postListElementHeading {
  font-size: 1.5rem;
  letter-spacing: 0.75px;
  width: fit-content;
  background: linear-gradient(
    var(--primaryBrandColor),
    var(--primaryBrandColor)
  );
  background-repeat: no-repeat;
  background-size: 0 100%;
}

.postListElementHeading:hover {
  background-size: 100% 100%;
  transition: 500ms ease-out;
}

.postListElementDescription {
  padding: 12px 0;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

@media (max-width: 375px) {
  .postListHeading {
    justify-content: center;
  }

  .postListElement {
    width: 100%;
    text-align: center;
  }

  .postListElementHeading {
    width: auto;
  }
}

@media (max-width: 425px) {
  .postListElement {
    width: 100%;
  }

  .postListWrapper {
    margin: 80px 0 15px 0;
  }
}
