.photoWrapper {
  height: 200px;
  width: 200px;
  margin: auto;
  position: relative;
}

.photoContent {
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 650px) {
  .photoWrapper {
    height: 100px;
    width: 100px;
  }
}
