.postsSinglePost {
  padding: 25px 0;
  width: 60%;
}

.postsSinglePostDate {
  color: var(--tertiaryTextColor);
  font-size: 0.95rem;
}

.postsSinglePostTitle {
  width: fit-content;
  font-size: 1.75rem;
  padding: 10px 0;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.postsSinglePostTitle:hover {
  color: var(--primaryBrandColor);
}

.postsSinglePostDescription {
  color: var(--secondaryTextColor);
  font-size: 1.2rem;
}

@media only screen and (max-width: 650px) {
  .postsSinglePost {
    width: 90%;
    margin: 0 auto;
  }
}
