:root {
  --primaryBackgroundColor: rgb(15, 17, 23);

  --primaryTextColor: rgb(255, 255, 255);
  --secondaryTextColor: rgb(180, 180, 180);
  --tertiaryTextColor: rgb(105, 105, 105);

  --primaryBrandColor: rgb(190, 136, 255);
  --secondaryBrandColor: rgb(136, 97, 184);
}

body {
  width: 70%;
  margin: auto;
  background-color: var(--primaryBackgroundColor);
  color: var(--primaryTextColor);

  animation: fadeIn 1s ease-out 0s 1 normal forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 650px) {
  body {
    width: 90%;
  }
}
