body {
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondaryColor);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --backgroundColor: rgb(11, 11, 18);
  --primaryColor: rgb(195, 201, 208);
  --secondaryColor: rgb(255, 255, 255);
  --tertiaryColor: rgb(135, 139, 144);
  --primaryBrandColor: rgb(133, 103, 224);
  --secondaryBrandColor: rgb(104, 79, 179);
  --tertiaryBrandColor: rgb(135, 139, 144);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primaryBrandColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondaryBrandColor);
}
